.quiz-manager-general-wrapper {
    padding: 5px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
}

.quiz-manager-general-wrapper label {
    color: #212121;
    font-weight: 600;
    padding: 0px;
}

.quiz-manager-general-wrapper input {
    background-color: rgba(0,0,0,0);
    border: 0px solid rgba(0,0,0,0);
    border-bottom: 1px solid #3d97ff;
    width: 100%;
    outline: none;
    color: black;
    box-sizing: border-box;
    outline: 0px;
}

.quiz-manager-general-wrapper select {
    padding: 5px 10px;
    color: #636363;
    border-radius: 0px;
    border: 1px solid #3d97ff;
    background-color: #fcfcfc;
    outline: 0px;
}

.quiz-manager-general-wrapper textarea {
    border-radius: 0px;
    padding: 10px 10px;
    text-align: justify;
    border: 1px solid #3d97ff;
    background-color: #fcfcfc;
    color: black;
    outline: 0px;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    justify-items: stretch;
}

.grow {
    flex-grow: 1;
}

.quiz-manager-general-wrapper .buttons-wrapper {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px;
    margin: 0px 0px;
}

.quiz-manager-general-wrapper button {
    margin-top: 25px;
    width: auto;
    padding: 3px 20px;
    height: auto;
    border-radius: 0px;
}
