.answer-item-wrapper{
    display: flex;
    padding: 10px 20px;
    border-radius: 0px;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.3);
    margin-top: 15px;
    box-shadow: -5px 7px 0px 0px rgba(0,0,0,0.35);
}

.answer-item-wrapper label{
    font-weight: 600;
    font-style: italic;
}

.answer-item-wrapper .time {
    font-weight: 600;
    font-style: italic;
}