.quizzes-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 30px;
}

.add-button-wrapper {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    min-height: 100vh;
    opacity: 1.0;
    pointer-events: none;
}
