.question-editor{
}

.question-editor .body {
    padding: 20px;
    box-sizing: border-box;
}

.question-editor input, .question-editor select{
    margin-bottom: 25px;
}
    
.question-editor label {
    color: #212121;
    font-weight: 600;
    padding: 0px;
}

.question-editor input {
    background-color: rgba(0,0,0,0);
    border: 0px solid rgba(0,0,0,0);
    border-bottom: 1px solid #3d97ff;
    width: 100%;
    outline: none;
    color: black;
    box-sizing: border-box;
    outline: 0px;
    padding: 3px 5px;
}

.question-editor select {
    padding: 5px 10px;
    color: #636363;
    border-radius: 0px;
    border: 1px solid #3d97ff;
    background-color: #fcfcfc;
    outline: 0px;
}